@media screen and (max-width:1024px) {
    #content {
        margin-top:2px;
    }
    .hide{
        display:none;
    }
    body{
        background-color: #ffffff !important;
    }
    :root {
        --screen-width: 100%;
        --screen-height: 100%;
        --header-bg-color: #673AB7;
        --splash-bg-color: #ffffff;
    }

    .nav__toggle {
        display: inline-block;
        position: absolute;
        z-index: 10;
        padding: 0;
        border: 0;
        background: transparent;
        outline: 0;
        right: 15px;
        top: 5px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.15s linear;
    }
    /*.nav__toggle:hover, .nav__toggle:focus {*/
    /*    background-color: rgba(0, 0, 0, 0.5);*/
    /*}*/
    .nav .menu {
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: var(--screen-height);
        position: relative;
        z-index: 5;
        visibility: hidden;
    }
    .nav .menu .item {
        opacity: 0;
        transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
    }
    .nav .menu  .item:nth-child(1) {
        transform: translateY(-40px);
    }
    .nav .menu .item:nth-child(2) {
        transform: translateY(-80px);
    }
    .nav .menu .item:nth-child(3) {
        transform: translateY(-120px);
    }
    .nav .menu .item:nth-child(4) {
        transform: translateY(-160px);
    }
    .nav .menu .item:nth-child(5) {
        transform: translateY(-200px);
    }
    .nav .menu a {
        color: black;
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 1rem;
    }
    .nav .menu a:hover, .nav .menu a:focus {
        outline: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .nav .menuicon {
        display: block;
        cursor: pointer;
        color: #a7a7a7;
        transform: rotate(0deg);
        transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .nav .menuicon__bar, .nav .menuicon__circle {
        fill: none;
        stroke: currentColor;
        stroke-width: 3;
        stroke-linecap: round;
    }
    .nav .menuicon__bar {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-in-out;
    }
    .nav .menuicon__circle {
        transition: stroke-dashoffset 0.3s linear 0.1s;
        stroke-dashoffset: 144.513262038;
        stroke-dasharray: 144.513262038;
    }

    .splash {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 1px;
        height: 1px;
    }
    .splash::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        background-color: var(--splash-bg-color);
        width: 284vmax;
        top: -142vmax;
        left: -142vmax;
        transform: scale(0);
        transform-origin: 50% 50%;
        transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        will-change: transform;
    }

    .nav:target > .splash::after,
    .nav--open > .splash::after {
        transform: scale(1);
    }
    .nav:target .menuicon,
    .nav--open .menuicon {
        color: #a7a7a7;
        transform: rotate(180deg);
    }
    .nav:target .menuicon__circle,
    .nav--open .menuicon__circle {
        stroke-dashoffset: 0;
    }
    .nav:target .menuicon__bar:nth-child(1), .nav:target .nav .menuicon__bar:nth-child(4),
    .nav--open .menuicon__bar:nth-child(1),
    .nav--open .menuicon__bar:nth-child(4) {
        opacity: 0;
    }
    .nav:target .menuicon__bar:nth-child(2),
    .nav--open .menuicon__bar:nth-child(2) {
        transform: rotate(45deg);
    }
    .nav:target .menuicon__bar:nth-child(3),
    .nav--open .menuicon__bar:nth-child(3) {
        transform: rotate(-45deg);
    }
    .nav:target .menu,
    .nav--open .menu {
        visibility: visible;
    }
    .nav:target .menu .item,
    .nav--open .menu .item {
        opacity: 1;
        transform: translateY(0);
    }

    .header {
        height: 60px !important;
        background-color: var(--header-bg-color);
    }
    .sub-menu {
        list-style-type: none;
    }
    .item {
        padding: 10px;
    }
    .item:not(.button) a:hover,
    .item a:hover::after {
        color: #000;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .menu li a {
        display: block;
        padding: 15px 5px;
    }
    .menu li.subitem a {
        padding: 15px;
    }
    .item {
        width: 100%;
        text-align: center;
    }
    .sub-menu {
        display: none;
    }
    .sub-menu-active .sub-menu {
        display: block;
        padding-bottom: 3% !important;
    }
    .has-submenu i {
        font-size: 12px;
    }
    .has-submenu > a::after {
        font-family: "Font Awesome 5 Free";
        font-size: 12px;
        line-height: 16px;
        font-weight: 900;
        content: "\f078";
        color: black;
        padding-left: 5px;
    }
    .subitem a {
        padding: 10px 15px;
    }
    .sub-menu-active {
        border-radius: 3px;
    }

}
