/*
Theme Name: Softylus
Theme URI: http://softylus.com/
Author: softylus
Author URI: http://softylus.com/
Description: A modern wordpress theme for softylus website.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bulmapress
Tags: one-column, two-columns, three-columns, four-columns, grid-layout, featured-images, accessibility-ready, featured-images, microformats, sticky-post, threaded-comments, translation-ready, blog, news, photography, portfolio

Bulmapress is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Main stylesheet: /frontend/bulmapress/css/bulmapress.css

Bulma Sass: /frontend/bulma/sass/
Bulmapress Sass: /frontend/bulmapress/sass/ */
@import "design-style.css";
@import "menu-mobile.css";
@font-face {
    font-family: Softylus;
    src: url("fonts/woff/BwGlennSans-Regular.woff") format("woff");
    
}

@font-face {
    font-family: Softylus-medium;
    src: url("fonts/woff/BwGlennSans-Medium.woff") format("woff");
   
}

@font-face {
    font-family: Softylus-light;
    src: url("fonts/woff/BwGlennSans-Light.woff") format("woff");
    
}

@font-face {
    font-family: Softylus-black;
    src: url("fonts/woff/BwGlennSans-Black.woff") format("woff");
    
}
@font-face {
    font-family: Softylus-thin;
    src: url("fonts/woff/BwGlennSans-Thin.woff") format("woff");
    
}

@font-face {
    font-family: Softylus-hairline;
    src: url("fonts/woff/BwGlennSans-Hairline.woff") format("woff");
    
}

@font-face {
    font-family: Softylus-bold;
    src: url("fonts/woff/BwGlennSans-Bold.woff") format("woff");
    
}

@font-face {
    font-family: Softylus-exbold;
    src: url("fonts/woff/BwGlennSans-ExtraBold.woff") format("woff");
    
}
.noScroll{
overflow-y: hidden !important;
}
.site{
    background-color: white !important;
}
#menu-footer-menu li:hover{
    color: #333 !important;
}
.footer-menu,
.header-menu {
    margin: auto !important;
}
.is-Softylus-exbold{
    font-family: Softylus-exbold;
}
.has-text-gray{
    color:#aaaaaa !important;
}

.is-mxy-20{

    margin:12px !important;
}

.slide-1{
    background: url(https://ik.imagekit.io/softylus/aa_PR-F1PXIfpXmW.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.slide-2 {
    background: url(https://ik.imagekit.io/softylus/brainstorm_VvIFBR2G3B5-.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.slide-3 {
    background: url(https://ik.imagekit.io/softylus/two-people-business-working-office-businessman-workers-professional-owner-business-person_t20_wQ83pr__1__etIIxqm2tfEem.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
 
.gallery-cell {
    width: 100%;
    height: 550px;
    margin-right: 10px;
    background: #eeeeee;
    counter-increment: gallery-cell;
  }


  .is-red{
    
   background: linear-gradient(to bottom, #93291E, #CB0202);
    color: white !important;
    border-width: 0px !important;
  }
  /* for the footer */
  @media screen and (min-width: 769px) and (max-width:999px){
 .is-width46{
     width:46% !important;
 }
  }
   @media screen and (min-width: 500px) and (max-width:768px) {
       .is-width46 {
           width: 44% !important;
       }
   }
.softylus-team {
    background-image: url(https://ik.imagekit.io/softylus/work-team_t20_mvw2B1l_KWSQw8R0Ub3gC.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background: contain;

}

.who-we-are {

    /*background-image: url(https://s1.softylus.com/wp-content/uploads/2020/12/Untitled-1.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}
.serviceIcon{
    width:50%;
    margin: 5% auto;
}
.processIcon{
    width:25%;
    margin: 5% auto;
}
.is-family-softylus-reg{
    font-family: 'Softylus';

}
.is-family-softylus-light{
    font-family: 'Softylus-light';

}
.is-family-softylus-black{
    font-family: 'Softylus-black';

}

.is-family-softylus-bold{
    font-family: 'Softylus-bold';

}
.wwa-col {

background-image: url("https://s1.softylus.com/wp-content/uploads/2020/12/1.png");
background-repeat: no-repeat;
background-position: top center;

}

.text-inside-hex {
    padding: 120px;
}

.has-text-red{

    color:#CB0202 !important;
}

.has-border-red-left{

    border-left: 3px solid #CB0202;

}

.has-border-red-bottom{

    border-bottom: 3px solid #CB0202;

}
.HRcontainer {
    position:relative;
    width:100%;
}
.line_diagonal {
    height:3px;
    width:100%;
    color:black !important;
    position: absolute !important;
    left: -3% !important;
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
}
.line_diagonal1 {
    height: 3px;
    width: 100%;
    color: black !important;
    position: absolute !important;
    left: -30% !important;
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
}
 @media (min-width:800px) and (max-width:839px) {
   .line_diagonal {
       position: absolute !important;
       left: -4% !important;
   }
}
@media (min-width:840px) and (max-width:899px) {
    .line_diagonal {
        position: absolute !important;
        left: -5% !important;
    }
}
@media (min-width:900px) and (max-width:959px) {
    .line_diagonal {
        position: absolute !important;
        left: -6% !important;
    }
}
@media (min-width:960px) and (max-width:1023px) {
    .line_diagonal {
        position: absolute !important;
        left: -7% !important;
    }
}
@media (min-width:1024px) and (max-width:1087px) {
    .line_diagonal {
        position: absolute !important;
        left: -8% !important;
    } 
}
@media (min-width:1088px) and (max-width:1279px) {
    .line_diagonal {
        position: absolute !important;
        left: -7% !important;
    }
}
@media (min-width:1280px) and (max-width:1471px) {
    .line_diagonal {
        position: absolute !important;
        left: -10% !important;
    }
}
@media (min-width:1472px) {
    .line_diagonal {
        position: absolute !important;
        left: -12% !important;
    }
}
/*---------------  line 2 -------------------------------*/
 @media (min-width:800px) and (max-width:839px) {
     .line_diagonal1 {
         position: absolute !important;
         left: -24% !important;
     }
 }

 @media (min-width:840px) and (max-width:899px) {
     .line_diagonal1 {
         position: absolute !important;
         left: -24% !important;
     }
 }

 @media (min-width:900px) and (max-width:959px) {
     .line_diagonal1 {
         position: absolute !important;
         left: -23% !important;
     }
 }

 @media (min-width:960px) and (max-width:1023px) {
     .line_diagonal1 {
         position: absolute !important;
         left: -23% !important;
     }
 }

 @media (min-width:1024px) and (max-width:1087px) {
     .line_diagonal1 {
         position: absolute !important;
         left: -23% !important;
     }
 }

 @media (min-width:1088px) and (max-width:1279px) {
     .line_diagonal1 {
         position: absolute !important;
         left: -23% !important;
     }
     .mt-custom{
         margin-top: 2rem!important;
     }
 }

 @media (min-width:1280px) and (max-width:1471px) {
     .line_diagonal1 {
         position: absolute !important;
         left: -21% !important;
     }
     .mt-custom{
         margin-top: 3rem!important;
     }
 }

 @media (min-width:1472px) {
     .line_diagonal1 {
         position: absolute !important;
         left: -18% !important;
     }
     .mt-custom{
         margin-top: 5rem!important;
     }
 }
 @media (min-width:800px) {
     .marginForDesktopOnly {
       margin-left: 3em !important;
     }
 }

.logo-style{
    filter: grayscale();
    margin: auto;
    object-fit: contain;
}

.is-radiusless:hover .logo-style {
    filter: none;
    transition: .6s;
    transform: scale(1.2);
}


.is-m-auto{
    margin: auto !important;
}

.is-bottom-right{
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    padding-left: 50% !important;
}
.is-top-left{
    position: absolute !important;
    left:0 !important;
    top: 0 !important;
    }
.happy-client{
    min-height: 520px
}
/* nav bar */
.navbar-burger {
    margin-left: unset !important;
    /* width: 3.25rem; */
    /* margin-left: auto; */
}
@media (max-width:768px){
    .slide-1 {
        background-image: url(https://ik.imagekit.io/softylus/two-people-busiworkers-professional-owner-business-person_t20_wQ83pr_bOiIPaJQsYXiK.jpg) !important;
    }
    .slide-2{
       background-image: url(https://ik.imagekit.io/softylus/ss_EhO_CFMs8ZDzc.jpg) !important;
    }

    .slide-3{
        background-image: url(https://ik.imagekit.io/softylus/Promo-Facebook-Story__5__JJkoBI5i6MplO.jpeg) !important;
    }
    .is-bottom-right{
        position: absolute !important;
        left: 0 !important;
        bottom:0 !important;
        padding-left: 0% !important;
    }
    .is-top-left{
        position: static;
    }
.transformOnmobile{
    transform:scale(1.1);
}
    .gallery-cell,.flickity-viewport {
        height: 440px !important;
    }

}

@media (max-width:1087px) {
    .navbar-burger {
        display: block !important;
        margin-top: 19px;
        margin-right: 24px;
    }
}

@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);


*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

html {
    width: 100%;
    height: auto;
    overflow-x:hidden;
    
}

body {
    overflow-x:hidden;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: Dubai-Light;
    background: rgba(30, 30, 30);
}

.testim {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
    color: #CB0202;
}


.testim .arrow.left {
    left: 10px;
    /* top: 63% !important; */
}

.testim .arrow.right {
    right: 10px;
    /* top: 63% !important; */
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #333;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #CB0202;
    border-color: #CB0202;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;
    -moz-animation: testim-scale .5s ease-in-out forwards;
    -ms-animation: testim-scale .5s ease-in-out forwards;
    -o-animation: testim-scale .5s ease-in-out forwards;
    animation: testim-scale .5s ease-in-out forwards;
}

.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont>div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont>div.inactive {
    opacity: 1;
}


.testim .cont>div.active {
    position: relative;
    opacity: 1;
}


.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #CB0202;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #333;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;
    -moz-animation: testim-show .5s ease-in-out forwards;
    -ms-animation: testim-show .5s ease-in-out forwards;
    -o-animation: testim-show .5s ease-in-out forwards;
    animation: testim-show .5s ease-in-out forwards;
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;
    -moz-animation: testim-content-in .4s ease-in-out forwards;
    -ms-animation: testim-content-in .4s ease-in-out forwards;
    -o-animation: testim-content-in .4s ease-in-out forwards;
    animation: testim-content-in .4s ease-in-out forwards;
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;
    -moz-animation: testim-content-in .5s ease-in-out forwards;
    -ms-animation: testim-content-in .5s ease-in-out forwards;
    -o-animation: testim-content-in .5s ease-in-out forwards;
    animation: testim-content-in .5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;
    -moz-animation: testim-hide .5s ease-in-out forwards;
    -ms-animation: testim-hide .5s ease-in-out forwards;
    -o-animation: testim-hide .5s ease-in-out forwards;
    animation: testim-hide .5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;
    -moz-animation: testim-content-out .4s ease-in-out forwards;
    -ms-animation: testim-content-out .4s ease-in-out forwards;
    -o-animation: testim-content-out .4s ease-in-out forwards;
    animation: testim-content-out .4s ease-in-out forwards;
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;
    -moz-animation: testim-content-out .5s ease-in-out forwards;
    -ms-animation: testim-content-out .5s ease-in-out forwards;
    -o-animation: testim-content-out .5s ease-in-out forwards;
    animation: testim-content-out .5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #333;
        box-shadow: 0px 0px 0px 0px #333;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #333;
        box-shadow: 0px 0px 10px 5px #333;
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #CB0202;
        box-shadow: 0px 0px 10px 5px #CB0202;
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #CB0202;
        box-shadow: 0px 0px 0px 0px #CB0202;
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #333;
        box-shadow: 0px 0px 0px 0px #333;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #333;
        box-shadow: 0px 0px 10px 5px #333;
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #CB0202;
        box-shadow: 0px 0px 10px 5px #CB0202;
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #CB0202;
        box-shadow: 0px 0px 0px 0px #CB0202;
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #333;
        box-shadow: 0px 0px 0px 0px #333;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #333;
        box-shadow: 0px 0px 10px 5px #333;
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #CB0202;
        box-shadow: 0px 0px 10px 5px #CB0202;
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #CB0202;
        box-shadow: 0px 0px 0px 0px #CB0202;
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #333;
        box-shadow: 0px 0px 0px 0px #333;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #333;
        box-shadow: 0px 0px 10px 5px #333;
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #CB0202;
        box-shadow: 0px 0px 10px 5px #CB0202;
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #CB0202;
        box-shadow: 0px 0px 0px 0px #CB0202;
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #333;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #333;
    }

    70% {
        box-shadow: 0px 0px 10px 5px #CB0202;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #CB0202;
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }

    .testim .cont div p {
        line-height: 25px;
    }

}
.has-background-red{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #93291E, #CB0202);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #93291E, #CB0202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.Newsletter-email {
    width: 97%;
    border-bottom: solid gray 1px !important;
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: 16px !important;
}
.Newsletter-name,.Newsletter-phone{
     width:47%;
     border-bottom: solid gray 1px !important;
     border: none;
     height: 40px;
    cursor: pointer;
    font-size: 16px !important;
 }
.Newsletter-submit , .ContactUs-Submit{
    width: 30%;
    margin: auto;
    height: 54px;
    color: white;
    border: none;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #93291E, #CB0202);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #93291E, #CB0202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Softylus-bold'!important;
    border-radius: 4px;
    font-size: 16px !important;
    cursor: pointer;
}
.Newsletter-checkbox{
    font-family: 'Softylus' !important;
    line-height: 4;
    cursor: pointer;
    font-size: 14px !important;
}
span.wpcf7-list-item.first.last{
    margin-left: 0px !important;
}
#wpcf7-f83-o1 .wpcf7-form{
    font-family: 'Softylus' !important;
    width:40% !important;
    margin:auto !important;
    padding:4%;
    background-color:white !important;
    border-radius: 4px !important;
}
#wpcf7-f83-o1 .wpcf7-form label{
    display: inline;
    margin-right:2%;
    font-family: 'Softylus' !important;
}
.wpcf7-form input:focus{
    outline: none;
}

.menu-menu  li{
    list-style-type: none;
    margin-left:10px;
    color:#aaaaaa;
}

.footer-menu li a,
 .menu-menu li a {
/*width:100% !important;*/
    font-size: 15px !important;
    color:#aaaaaa !important;
    font-family: 'Softylus';
}
.menu-menu{
    margin: auto;
}
 

#menu-footer-menu{
    margin-left: 0% !important;
}
@media screen and (max-width:768px){
    .pt-6-mobile{
        padding-top: 3rem!important;
    }
    .pb-6-mobile{
        padding-bottom: 3rem!important;
    }
    .px-6-mobile{
        padding-right: 3rem!important;
        padding-left: 3rem!important;
    }
    .py-6-mobile{
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    }
    .py-0-mobile{
        padding-top:0%!important;
        padding-bottom: 0%!important;
    }
    .p-0-mobile{
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .pb-0-mobile{
        padding-bottom: 0px !important;
    }
    .TakeControl{
        background:none;
        height: auto !important;
    }
    .flip{
        display:table !important;
    }
    .flip-up{
        display:table-header-group !important;
    }
    .flip-down{
        display: table-footer-group !important;
    }
    .aboutSection{
        background-image: url("https://s1.softylus.com/wp-content/uploads/2020/12/tabtop-for-mobile-contact-us-e1608631212740.png") !important;
        height:280px !important;
        background-size: contain;
        background-position: center;
    }
    .aboutCol{
        background-color: transparent !important;
    }
    .accH2{
        font-size:18px!important;
    }
}
@media screen and (min-width: 1024px){
    .py-6-desktop{
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    }
    .mt-3-desktop{
        margin-top: .75rem!important
    }
    .mx-6-desktop{
        margin-left: 3rem!important;
        margin-right: 3rem!important;
    }
    .my-6-desktop{
        margin-top: 3rem!important;
        margin-bottom: 3rem!important;
    }
    .px-6-desktop{
        padding-right: 3rem!important;
        padding-left: 3rem!important;
    }
    .p-6-desktop{
        padding: 3rem!important;
    }
}
@media screen and (max-width: 1023px){
    .newsletterForm{
        margin:0 !important;
    }
    .logo-footer{
        width:32px !important;
        height:32px !important;
        margin-right: 0 !important;
    }
    .logoCol{

        padding-right: 0px !important;
    }
    .footer-menu li
    {
        width:100% !important;
        display: block;
        font-size: 14px;
        text-align: center !important;
    }
     .header-menu li{
         display: block;
         font-size: 14px;
     }
    .footer-menu ul,
     .header-menu ul {
        margin:0 !important;
    }
    .Newsletter-submit , .ContactUs-Submit{
        width: 100%;
        font-size: 16px;
    }
    #wpcf7-f83-o1 .wpcf7-form{
        width:90% !important;
        padding:3% !important;
    }
    #wpcf7-f171-o1 .wpcf7-form{
        width:100% !important;
        padding:3% !important;
    }

}
@media screen and (min-width: 1153px) {
.footer-menu li {
    display: inline;
    font-size: 14px;
    text-align: center !important;
}
}
.btn{
    border-radius: 30px;
    padding: 0.5em;
    padding-left: 4%;
    padding-right: 4%;
    border: none;
    outline: none;
    cursor: pointer;
}
.TakeControl{
    background-image: url("https://s1.softylus.com/wp-content/uploads/2020/12/workout-tracker-app.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    height: 700px;
}
.contactBTN{
    border-radius: 30px;
    padding: 0.5em;
    padding-left: 4%;
    padding-right: 4%;
    border-style: solid;
    border-width:2px;
    border-color: #CB0202;
    background-color: white;
    outline: none;
}
.contactBTN:hover{
    color:#ffffff !important;
    background-color: #CB0202;
}
body.page-template-contactus.page-template-templatescontactus-php .hiddenINcontact{
    display: none !important;
}
#wpcf7-f171-o1 .wpcf7-form{
    font-family: 'Softylus' !important;
    width:100%;
    padding:4%;
    border-radius: 4px !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
#wpcf7-f171-o1 .wpcf7-form label{
    display: block !important;
    margin-right:0% !important;
    font-family: 'Softylus' !important;
}
.ContactUs-Field{
    padding:2% !important;
    width:100%;
    border: solid 1px rgba(203, 2, 2, 0.15) ;
    height: 40px;
    cursor: pointer;
    font-size: 16px !important;
    border-radius: 4px;
}
.ContactUs-message{
    padding:2% !important;
    width:100%;
    border: solid 1px rgba(203, 2, 2, 0.15) ;
    cursor: pointer;
    font-size: 16px !important;
    border-radius: 4px;
}
.aboutSection{
    background-color: #f6f6f6;
    background-image: url("https://s1.softylus.com/wp-content/uploads/2020/12/MacBook-Pro-Wireframe.png");
    background-repeat: no-repeat;
    height:580px;
}
/*accordion*/
.transition, .accP, .accordion li i:before, .accordion li i:after {
    transition: all 0.25s ease-in-out;
}

.flipIn,.accordion li {
    animation: flipdown 0.5s ease both;
}

.no-select, .accH2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.accH2{
    color: #CB0202 !important;
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    font-family: 'Softylus';

}
.accH2:hover{
    color: #CB0202 !important;
}
.accP {
    color: #666666 !important;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    padding-left: 14px;
    z-index: 2;
    font-family: 'Softylus' !important;
}

.accordion {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
    font-family: 'Softylus' !important;
}
.accordion li {
    position: relative;
    margin: 0;
    padding: 3% !important;
    border-radius: 4px;
}
.accordion li:nth-of-type(1) {
    animation-delay: 0.5s;
}
.accordion li:nth-of-type(2) {
    animation-delay: 0.75s;
}
.accordion li:nth-of-type(3) {
    animation-delay: 1s;
}
.accordion li:last-of-type {
    padding-bottom: 0;
}
.accordion li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-right: 3px;
    right: 0;
}
.accordion li i:before, .accordion li i:after {
    content: "";
    position: absolute;
    background-color: #CB0202;
    width: 3px;
    height: 9px;
}
.accordion li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
.accordion li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
.accordion li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;

}
.accordion li:hover{
    background-color: rgba(203, 2, 2, 0.15) !important;
}
.accordion li input[type=checkbox]:checked ~ .accH2 {
    color: #454545 !important;
}

.accordion li input[type=checkbox]:checked ~ .accP {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}
.accordion li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
.accordion li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}
